<div align="center">
    <h3 class="font-colour">Address Form</h3>
  </div>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="50">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <mat-input-container class="fullwidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.addressNew" name="address"></textarea>
    </mat-input-container>
  </p>

  <table class="fullwidth" cellspacing="50">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode" [(ngModel)]="address.postalcode" name="postalcode">
          <mat-hint align="end">
            {{postalcode.value.length}} / 5
          </mat-hint>
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit" mat-raised-button>Submit</button>
  </p>
</form>