<mat-card class="demo-panel" flex layout="column">
  <mat-card-title>
    <!-- <app-tab></app-tab> -->
    <mat-toolbar color = "primary">
      <!-- <button type="button" mat-button (click)="sidenav.open()"> -->
          <button type="button" mat-button (click)="sidenav.toggle()">
      Menu
    </button>
    <p align = "center">              Wharehouse           </p>
  </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav class="example-sidenav" mode="over">
        <app-menudemo></app-menudemo>
      </mat-sidenav>
    
      <div class="example-sidenav-content">
        <!-- <button type="button" mat-button (click)="sidenav.open()">
          Open Sidenav
        </button> -->
        <app-form></app-form>
      </div>
    
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>
<!-- <app-tab></app-tab>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="over">
    <app-menudemo></app-menudemo>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open Sidenav
    </button>
    <app-form></app-form>
  </div>

</mat-sidenav-container> -->